.title{
  background-color: antiquewhite;

  margin: 0 10px 0 10px;
  width:60%;
  border:1px solid gray;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
h2{
  padding: 0;
  margin:0;
}

.content{
    background-color: rgb(231, 222, 222);
    
    border:1px solid gray;
    margin: 0 10px 0 10px;
    width:60%;
    height: 100px;
    
  }
 
.accordion{
  margin:10px;
}
button{
  padding: 5px;
}